.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-container {
  padding: 32px;
  background: #f8fafc;
}

h1 {
  color: #2c2323;
}



.gauge-section {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    max-width: 600px;
    margin: 0 auto 30px auto;
}


.category-accordion {
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.category-summary {
  list-style: none; /* Hides the default browser arrow */
  padding: 15px 20px;
  cursor: pointer;
  background: #f8fafc;
  font-weight: 600;
  transition: background 0.2s;
}

.category-summary:hover {
  background: #f1f5f9;
}

.summary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rotate the arrow when <details> is open */
details[open] .arrow {
  transform: rotate(90deg);
  display: inline-block;
}

.expanded-table-wrapper {
  padding: 10px 20px;
  border-top: 1px solid #e2e8f0;
}

.cat-total {
  font-size: 1.1rem;
}

.cat-total.negative { color: #e74c3c; }
.cat-total.positive { color: #27ae60; }



.sortable-header {
  position: relative;
  transition: background-color 0.2s;
  padding-right: 20px; /* Make room for the arrow */
}

.sortable-header:hover {
  background-color: #edf2f7; /* Light gray on hover */
  color: #2d3748;
}

/* Optional: style the arrow specifically */
.sortable-header::after {
  font-size: 0.7rem;
  margin-left: 5px;
  vertical-align: middle;
}


.move-select {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e0;
  background-color: white;
  font-size: 0.85rem;
  cursor: pointer;
  outline: none;
}

.move-select:hover {
  border-color: #a0aec0;
  background-color: #f8fafc;
}
